Source: vscp-driver-l1-logger
Section: utils
Priority: optional
Maintainer: Ake Hedman <akhe@grodansparadis.com>
Build-Depends: debhelper (>= 11), autotools-dev
Standards-Version: 4.1.3
Homepage: https://www.vscp.org
Vcs-Browser: https://github.com/grodansparadis/vscp-driver-l1-logger
Vcs-Git: https://github.com/grodansparadis/vscp-driver-l1-logger.git

Package: vscp-driver-l1-logger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.29)
Description: Level I logger driver for the VSCP daemon
 A driver that can be added to the VSCP server to get logging of level I
 events on a specific file. Filters can be set.
